<!doctype html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nostream</title>
    <link rel="stylesheet" href="css/foundation.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
</head>

<body>
    <div style="margin-left:50px;margin-right:50px;margin-top:50px;height:125px;width:225px;">
        <div style="height:50px;overflow:hidden;">
            <font size="3" class="titres"><strong>Metalliquoi ? - Episode 21, la batterie.</strong></font><br>
        </div>
        <img src="atlas.jpg " style="height:125px;width:225px;text-align:center;"><br>
        <div>

        </div>

        <div style="width:225px;">
            <a href="#" class="button tiny" style="margin-left:none;margin-right:none;width:49%">
                <font size="1">Joueur Du Grenier</font>
            </a>
            <a href="#" class="button tiny" style="margin-left:none;margin-right:none;width:49%">
                <font size="1">Bazar Du Grenier</font>
            </a>
        </div>
        <div style="text-align:center;">
            <font size="1 ">1 234 992 vues -</font>
            <font size="1 ">le 29/10/16</font>
        </div>
    </div>
</body>