<!doctype html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nostream</title>
    <link rel="stylesheet" href="css/foundation.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
</head>

<body>
    <div style="margin-left:50px;margin-right:50px;margin-top:50px;height:200px;width:400px;overflow:hidden;">
        <div style="display:inline;width:100%;">
            <h3>MetallicaTV</h3>
            <img src="met.jpg " style="height:125px;width:125px;text-align:center;">
        </div>
        <div style="float:right;width:50%;">
            <p>Maras diaconus fucandae purpurae diaconus ut non et sermone celerari textrini pectoralem purpurae et Tyrii ad regale est inductus ad autem diaconus speciem idem fucandae denique vexatus vitae Christiani pectoralem inductus quaerebatur celerari
                celerari Maras vitae ministris ministris prolatae diaconus haec est regale indumentum vexatus non nihil textam pectoralem ad indumentum textrini fateri sermone Maras appellant purpurae diaconus ut etiam Tyrii vexatus ad idem confessisque
                usque perurgebant ministris litterae sermone Maras prolatae ad purpurae fucandae confessisque Christiani vitae quam idem praepositum speciem indicabant regale ad cuius ministris ut manicis usque ut fucandae Maras perurgebant confessisque
                ut litterae etiam quaerebatur sermone.
            </p>
        </div>
    </div>
</body>